
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #080C14;
    margin: 0;

}



.left_panel {
    background-image: url(../images/left_panel.png);
    background-size: cover;
    background-position: center;
    width: 20%;
}

.right_panel {
    background-image: url(../images/right_panel.png);
    background-size: cover;
    background-position: center;
    width: 20%;
}


.layout {
    display: flex;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    color: #A1A1AA;
    min-height: 100vh;

    
}


.header-site {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #0B1019;
}

.logo {
    width: 109px;
    height: 50px;
    display: block;
    margin-left: 15px;
}



.navigation {
    display: flex;
    justify-content: center; /* Выравнивает меню строго по центру экрана */
    align-items: center;
    width: 80vw;
    text-align: center;

}

#first_link {
    text-decoration: underline #2e2a40;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px ;

}

#first_link:hover, .navigation a:hover {
    color: #7d51e2;
    text-decoration: underline #7d51e2 ;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px ;

}

.navigation a {
    margin: 0 15px;
    color: #c0b9df;
    font-size: large;
    text-align: center;
    text-decoration-line: none;
    font-weight: normal;

}

.greetings {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
}



.first_text {
    
    padding-left: 10%;
    padding-right: 10%;
    line-height: 25px;
    text-align: center;

}




.first_text p {
    padding-left: 10%;
    padding-right: 10%;
    line-height: 20px;
    font-weight: 300;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
}





.layout h1 {
    font-family: "Space Mono";
    font-weight: 500;
    color:  #c0b9df;
    margin: 0;
    margin-bottom: 35px;
    margin-top: 10px;

}

.layout h4 {
    color:  #936ced;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 0%;
    margin: 0;
}


.dopinfo {
    margin-top: 30px;
    padding: 15px;
    color: #936ced;
    border: 2px dotted #5d3ea7;
    border-radius: 10px;
    font-weight: bold;
}


.sep {
  display: block;
  margin: 20px auto;
}

.container, .container2 {
    display:flex
}

.about h3, .games h3 {
    text-align: center;
}


.about h3 {
    font-family: "Space Mono";
    font-weight: 600;
    font-size: 21px;
}

.container, .games, footer {
    align-items: center;
    text-align: center;
    padding: 15px;
}

.container h5 {
    color:#936ced;
}


.games_deco{
    display: flex;
    width: 100%;
    justify-content: center;
    
    align-items: center;
    text-align: center;
    
}
.hollowknight img, .peak img {
    margin-top: 5px;
   
}

.hollowknight, .peak, .beholder {
    border: 2px solid#101722;
    border-radius: 10px;
    margin-inline: 5px;
    text-align: left;
    padding: 20px;

    
}


.hollowknight h6, .peak h6, .beholder h6 {
    color: #936ced;
  
}

.hollowknight a, .peak a, .beholder a {
    color:  #936ced;
   
}

.games h3 {
    font-family: "Space Mono";
    font-weight: 600;
    font-size: 21px;
}


.hollowknight:hover {
    border: 2px solid #C0B8EA;

}

.peak:hover {
    border: 2px solid #8FB8BE;
    border-radius: 10px;
}

.beholder:hover {
    border: 2px solid  #C09A70;;
    border-radius: 10px;
}

footer h3 {
    font-family: "Space Mono";
    font-weight: 600;
    font-size: 20px;
}

footer address {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
}